.body {
    background-image: url('../public/gym7.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.body1 {
  background-image: url('../public/gym7.jpg'); 
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
}

.body2 {
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
}

.body3 {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.video{
  background-image: url('../public/bicep.jpg'); 
  background-size: cover;
  background-position: center;
  height: auto;
  border-radius: 15px;
  width: 121%;
}

.picture {
  background-image: url('../public/bicep.jpg'); 
  background-size: cover;
  background-position: center;
  height: auto;
  border-radius: 15px;
  width: 121%;
}

.picture2 {
  background-image: url('../public/row.jpg'); 
  background-size: cover;
  background-position: center;
  height: auto;
  border-radius: 15px;
  width: 175%;
}

.picture3 {
  background-image: url('../public/lift.jpg'); 
  background-size: cover;
  background-position: center;
  height: auto;
  border-radius: 15px;
  width: 185%;
}

.picture4 {
  background-image: url('../public/bicep.jpg'); 
  background-size: cover;
  background-position: center;
  height: auto;
  border-radius: 15px;
  width: 121%;
}

.picture5 {
  background-image: url('../public/bicep.jpg'); 
  background-size: cover;
  background-position: center;
  height: auto;
  border-radius: 15px;
  width: 121%;
}

.picture6 {
  background-image: url('../public/bicep.jpg'); 
  background-size: cover;
  background-position: center;
  height: auto;
  border-radius: 15px;
  width: 121%;
}

.picture7 {
  background-image: url('../public/bicep.jpg'); 
  background-size: cover;
  background-position: center;
  height: auto;
  border-radius: 15px;
  width: 121%;
}

.picture8 {
  background-image: url('../public/pushup.jpg'); 
  background-size: cover;
  background-position: center;
  height: auto;
  border-radius: 15px;
  width: 225%;
}

.picture9 {
  background-image: url('../public/twist.jpg'); 
  background-size: cover;
  background-position: center;
  height: auto;
  border-radius: 15px;
  width: 121%;
}

.picture10 {
  background-image: url('../public/squat.jpg'); 
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  height: auto;
  width: 225%;
}

.dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    z-index: 1;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
  }
  
  .nav-item {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .nav-item:hover {
    background-color: #FFFF00;
  }
  
  .active {
    background-color: transparent;
    color:  #000000;
   
  }
  
  .tab-content {
    margin-top: 20px;
  }

  .button-container {
    text-align: center;
    align-items: center;
  }
